[Desktop Entry]
Name=DNZHRecompiled
Type=Application
Terminal=false
Icon=DNZHRecompiled
Exec=DNZHRecompiled
GenericName=DNZHRecompiled
Categories=Game;

